{% extends'base.html' %}
{% block conteudobody %}
    <h1 xmlns="http://www.w3.org/1999/html">PLANO INDIVIDUAL DE ATENDIMENTO DO ESTUDANTE NAPNE</h1>
    <form action="/gravarplanoindividual">
        <div class="container">
            <h3>Plano Individual De Atendimento Do Estudante Napne </h3>

            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Estudante:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="text" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputname" class="col-xs-2 col-form-label">Deficiência/ Necessidade específica</label>
                <div class="col-xs-10">
                    <input name="deficiencia" type="text" class="form-control" id="inputname" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-xs-2 col-form-label">Curso</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="Name" placeholder="">
                </div>
            </div>

            <p>Ações planejadas para atendimento e acompanhamento: </p>


            <div class="form-group row">
                <label for="example-email-input" class="col-xs-2 col-form-label">Arquitetônica</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="" id="example-email-input">
                </div>
            </div>

            <div class="form-group row">
                <label for="textInput" class="col-xs-2 col-form-label">Pedagógica</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="" id="textInput">
                </div>
            </div>


            <div class="form-group row">
                <label for="textInput" class="col-xs-2 col-form-label">Atitudinal</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="textinput">
                </div>
            </div>

            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Tecnológica</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="" id="text">
                </div>
            </div>

            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Comunicacional</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="" id="text">
                </div>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Profissionais envolvidos:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Equipamentos e materiais para apoio
                    didádico-padagógico:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Parcerias necessárias para o desenvolvimento das
                    atividades:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Equipe envolvida no preenchimento do plano individual:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Encaminhamentos realizados:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


            <div class="form-group col-md-4">
                <label for="text">Atendimento educacional solicidado:</label>
                <select id="text" class="form-control">
                    <option selected>Adaptação curricular</option>
                    <option>Professor de apoio</option>
                    <option>Tradutor Intérprete de línguas de sinais</option>
                    <option>cuidador</option>
                    <option>lupas</option>
                    <option>intérprete repetidor/Oralizador</option>
                    <option>Material pedagógico ampliado</option>
                    <option>Professor de apoio</option>
                    <option>Muleta/bengala</option>
                    <option>Quiar intérprete</option>
                    <option>Outras condições/recursos específico necessário</option>
                </select>
            </div>
        </div>

        <input type="submit" value="ok">
    </form>
{% endblock %}
